# Configuration de l'imprimante
PRINTER_IP=192.168.1.xxx
PRINTER_PORT=7125

# Clés API (remplacer les XXX par vos propres clés)
PROCESS_IMAGE_API_KEY=XXX
OPENAI_API_KEY=XXX
GPT_CHAT_API_KEY=XXX

# Ne modifiez pas ces valeurs sauf si vous savez ce que vous faites
LANGUAGE=fr-FR
VOICE_GENDER=VoiceGenderMale
VOICE_NAME=Microsoft Paul

# Ne jamais commiter le fichier .env avec vos vraies clés
